.review-title {
    font-size: 24px;
    font-weight: bold;
    border-bottom: 2px solid #43000A; /* 밑줄 스타일 및 색상 설정 */
    margin-bottom: 10px; /* 밑줄과 내용 사이의 간격 조절 */
  }
  
  .review-name {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .review-content {
    position: relative;
    width: 90%;
    height: auto;
    padding: 15px;
    border: 2px solid #43000A;
    border-radius: 5px;
    background-color: #fff;
    cursor: pointer;
  }
  
  .star-rating {
    align-items: center;
    font-size: 18px;
    margin: 10px 5px;
  }


   .back-button {
    position: relative;
    margin-top: 20px;
    border-radius: 5px;
    border: 1px solid #43000A;
    cursor: pointer;
    }

   .back-button:hover {
    background-color: #FCCB6F; 
    }

   .like {
    width: 20px;
    height: 20px;
   
    }
