.dropdown-select select{
    width: 90%; 
    margin: 5px;
    padding: 12px; 
    border: 1px solid #43000A; 
    border-radius: 5px; 
    background-color: #f4f4f4; 
    font-size: 18px; 
    color: #333;
    overflow-y: auto;
    flex: 1;
    margin-right: 10px;
}


.dropdown-select option {
    background-color: #fff; 
    font-size: 14px; 
    color: #333; 
}


.dropdown-select option:checked {
    background-color: #f4f4f4;
}


.sortBtn {
    position: relative;
    top: 20px;
    
}

.new{
    margin-right: 15px;
    display: inline-block;
    padding: 10px 15px;
    background-color: #f4f4f4;
    border-radius: 5px;
    border: 1px solid #43000A;
    color: #333;
    cursor: pointer;
}

.star{
    display: inline-block;
    padding: 10px 15px; 
    background-color: #f4f4f4;
    border-radius: 5px;
    border: 1px solid #43000A;
    color: #333;
    cursor: pointer;
}

/* 최신순 버튼이 선택되었을 때 */
.sortBtn .new.active {
    background-color: #FCCB6F;
}

/* 별점순 버튼이 선택되었을 때 */
.sortBtn .star.active {
    background-color: #FCCB6F;
}


.writeBtn {
    position: relative;
    left: 75%;
    top: -20px;
}

.btnText {
    display: inline-block;
    padding: 10px 20px; 
    background-color: #f4f4f4;
    border-radius: 5px;
    border: 1px solid #43000A;
    color: #333;
    cursor: pointer;
}

.btnText:hover {
    background-color: #FCCB6F;
}



.review-list {
    display: flex;
    flex-direction: column; /* 리뷰 세로로 나열 */
    gap: 10px;
}

.review-item {
    position: relative;
    width: 90%;
    padding-left: 15px;
    border: 1px solid #43000A;
    border-radius: 5px;
    background-color: #fff;
    cursor: pointer;
}

.review-item h3 {
    position: relative;
    font-size: 18px;
    margin-bottom: 10px;
    color: #000000;
}

.review-item p {
    font-size: 18px;
    color: #000000;
}


.star-rating img {
    position: relative;
    top: 0; 
    width: 20px;
}


.star-rating span {
    position: relative;
    top: 0; 
    margin-bottom: 20px;
    margin-left: 7px; 
    font-weight: 600; 
}
