header {
    background-color: white;
    color: #fff;
    height: 60px;
    padding: 25px;
    padding-top: 100px;
}

.logo {
    font-family: 'Wanju';
    font-size: 40px;
    color: black;
    width: 60%;
    height: 40px;
    display: inline-block;
}

.nickname {
    width: 100%;
    display: block;
    color: black;
    text-align: right;
}

.icon-wrap {
    display: inline-block;
    width: 35%;
    height: 40px;
    margin-left: 3%;
    padding-right: 0;
}

.icon {
    width: 40%;
    height: 40px;
    display: inline-flex;
    margin-left: 5%;
    justify-content: left;
    align-items: center;
}

.cart {
    float: right;
    width: 24px;
    height: 24px;
    padding: 10px;
    display: inline-block;
}

.qr {
    float: right;
    width: 24px;
    height: 24px;
    padding: 10px;
    display: inline-block;
}

.list {
    float: right;
    width: 24px;
    height: 24px;
    padding: 10px;
    display: inline-block;
    list-style: none;
}

.cart-button {
    float: right;
    width: 24px;
    height: 24px;
    padding: 10px;
    padding-right: 0;
    display: inline-block;
}
.qr-button {
    float: right;
    width: 24px;
    height: 24px;
    padding: 10px;
    padding-right: 0;
    display: inline-block;

}
.list-button {
    float: right;
    width: 24px;
    height: 24px;
    padding: 10px;
    padding-right: 0;
    display: inline-block;
}

button {  /* 버튼 없애기 */
    padding: 10px;
    padding-right: 0;
    background: none;
    border: none;
}

[class*="button"] img {
    float: right;
    width: 20px;
    height: 20px;
    filter: opacity(0.5) drop-shadow(0 0 0 #43000A);
}

.qr-img {
    width: 200px;
    height: auto;
    display: flex;
    align-items: center;
}

.ReactModal__Overlay {
    /* 오버레이를 화면에 가득 차게 만들고 크기를 모달 창에 맞게 설정 */
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); /* 오버레이 배경색 설정 */
    display: flex;
    justify-content: center; /* 가로 중앙 정렬 */
    align-items: center; /* 세로 중앙 정렬 */
}

/* 모달 내용의 스타일 */
.qr-modal-container {
    /* 모달 내용의 크기를 모달 창에 맞게 설정 */
    width: 60%; /* 모달 내용의 가로 크기를 화면의 60%로 설정 */
    max-width: 60%; /* 모달 내용의 최대 가로 크기를 화면의 60%로 설정 */
    max-height: 80%; /* 모달 내용의 최대 높이를 화면의 60%로 설정 */
    background-color: white; /* 모달 내용의 배경색 설정 */
    border: none; /* 테두리 제거 */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* 그림자 추가 */
    padding: 20px; /* 내용과 테두리 간격 설정 */
    box-sizing: border-box; /* 패딩을 포함한 전체 크기로 설정 */
    text-align: center;
}