[class*="menu-button"] {
    width: 47%;
    height: 120px;
    margin: 5px;
    margin-top: 10px;
    padding: 5px;
    display: inline-block;
    font-size: larger;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    border: 1px solid #43000A;
    transition: background-color 0.3s; /* 배경색 변경에 트랜지션 적용 */
}

[class*="menu-button"]:hover {
    background-color: #FCCB6F;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.5);
}

[class*="menu-button"]:active {
    width: 47%;
    height: 120px;
    margin: 5px;
    margin-top: 10px;
    padding: 5px;
    display: inline-block;
    font-size: larger;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    border: 1px solid #43000A;
    background-color: #FCCB6F;
}

#gap {
    height: 15px;
}